version: "3.9"

services:
  redis-puller:
    image: ghcr.io/rakaiseto/redis-log-puller:latest
    container_name: redis-puller
    restart: always
    networks:
      - redis_redis-log-network
    secrets:
      - db

networks:
  redis_redis-log-network:
    external: true

secrets:
  db:
    file: /opt/secrets/db_credentials.txt
